<div class="forms-board-container">
    <section class="form-section board-section">
        <div class="board-header jaro-font">
            <h4>Input in a form</h4>
        </div>
        <div class="board-body">
            <ng-smart-input label="My label"></ng-smart-input>
        </div>
    </section>

    <section class="form-control-section board-section">
        <div class="board-header jaro-font">
            <h4>Form control injection</h4>
        </div>
        <div class="board-body">
            <ng-smart-input label="My label"></ng-smart-input>
        </div>
    </section>

    <section class="ng-model-section board-section">
        <div class="board-header jaro-font">
            <h4>NgModel</h4>
        </div>
        <div class="board-body">
            <ng-smart-input label="My label"></ng-smart-input>
        </div>
    </section>

    <section class="free-section board-section">
        <div class="board-header">
            <h4>Free</h4>
        </div>
        <div class="board-body">
            <ng-smart-input label="My label"></ng-smart-input>
        </div>
    </section>
</div>
